<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head::head">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" th:replace="index::navheader">

</nav>
<!-- END nav -->

<section class="hero-wrap hero-wrap-2 js-fullheight" th:style="'background-image:url('+ @{/static2/images/bg_3.jpg} +');'" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Car details <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-3 bread">Car Details</h1>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section ftco-car-details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="car-details">
          <div class="img rounded" th:style="'background-image:url('+ @{/static2/images/{image}(image=${car.image})} +');'"></div>
          <div class="text text-center">
            <span class="subheading">[[${car.brand}]]</span>
            <h2>[[${car.name}]]</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Mileage
                  <span>[[${car.mileage}]]</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Transmission
                  <span>[[${car.transmission}]]</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Seats
                  <span>[[${car.type}]]</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-backpack"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Luggage
                  <span>4 Bags</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Fuel
                  <span>Petrol</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pills">
        <div class="bd-example bd-example-tabs">
          <div class="d-flex justify-content-center">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

              <li class="nav-item">
                <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
              </li>
            </ul>
          </div>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
              <div class="row">
                <div class="col-md-4">
                  <ul class="features">
                    <li class="check"><span class="ion-ios-checkmark"></span>Airconditions</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Child Seat</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>GPS</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Luggage</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Music</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="features">
                    <li class="check"><span class="ion-ios-checkmark"></span>Seat Belt</li>
                    <li class="remove"><span class="ion-ios-close"></span>Sleeping Bed</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Water</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Bluetooth</li>
                    <li class="remove"><span class="ion-ios-close"></span>Onboard computer</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="features">
                    <li class="check"><span class="ion-ios-checkmark"></span>Audio input</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Long Term Trips</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Car Kit</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Remote central locking</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Climate control</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
              <h2 style="font-family:  Arial, sans-serif;"><strong>Thủ tục thuê xe</strong></h2>
              <h5>
                <u><strong>Yêu cầu</strong></u>
              </h5>
              <p>- Sổ hộ khẩu Hà Nội gốc</p>
              <p>- Chứng minh thư,bằng lái xe</p>
              <p>- Tài sản đặt cọc:Xe máy giá trị lớn hơn 15 triệu đồng hoặ cọc tiền mặt 15 triệu đồng</p>
              <h5><strong>1. Thủ tục, giá cả thuê xe và ký hợp đồng</strong></h5>
              <p>Hợp đồng sẽ được ký sau khi thống nhất các thủ tục yêu cầu và giá cả thuê xe. Đồng thời, tiền thuê sẽ được thanh toán ngay khi ký hợp đồng.</p>
              <h5><strong>2. Nhận xe</strong></h5>
              <p>Để nhận xe sau khi ký hợp đồng, bạn phải mang: Hợp đồng thuê xe, chứng minh nhân dân người đứng tên hợp đồng, hộ khẩu bản chính, 01 xe máy kèm giấy tờ để nhận xe. Trong quá trình bàn giao xe, nhân viên sẽ giữ lại: Hộ khẩu bản chính, xe và giấy tờ; đồng thời kiểm chứng tình trạng xe, mức nhiên liêu ... trước khi bàn giao xe cho bạn. Cả 02 sẽ ký biên bản bàn giao xe.</p>
              <h5><strong>3. Trả xe</strong></h5>
              <p>Trả xe đúng giờ theo quy định ( Quá giờ quy định sẽ phải trả thêm tiền, thường khoảng 100,000 VND/giờ ). Khi trả xe, cả 02 sẽ đối chiếu tình trạng xe so với ban đầu, mức nhiên liệu ...</p>
              <h5>
                <u><em>Quý khách vui lòng lưu ý</em></u>
              </h5>
              <p>- Không sử dụng xe vào mục đích phi pháp, không sử dụng Xe thuê để Cầm Cố hay Thế Chấp , sử dụng đúng mục đích</p>
              <p>- Không Hút thuốc lá, ăn kẹo cao su, xả rác trong xe;</p>
              <p>- Không trở hàng Quốc Cấm, dễ cháy nổ, hoa quả thực phẩm lưu mùi trong xe,</p>
              <p>- Khi trả xe Khách vui lòng vệ sinh Xe sạch sẽ, hoặc gửi phụ thu thêm phí rửa Xe, Hút Bụi nếu Bẩn (Thu tuỳ Theo mức độ Bẩn) ;</p>
              <p>Tân trọng cảm ơn, chúc Quý khách có những chuyến đi Thú Vị, Vui Vẻ!</p>

            </div>

            <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
              <div class="row">
                <div class="col-md-7">
                  <h3 class="head">23 Reviews</h3>
                  <div class="review d-flex">
                    <div class="user-img" th:style="'background-image:url('+ @{/static2/images/bg_3.jpg} +');'"></div>
                    <div class="desc">
                      <h4>
                        <span class="text-left">Jacob Webb</span>
                        <span class="text-right">14 March 2018</span>
                      </h4>
                      <p class="star">
									   				<span>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
								   					</span>
                        <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                      </p>
                      <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                    </div>
                  </div>
                  <div class="review d-flex">
                    <div class="user-img" th:style="'background-image:url('+ @{/static2/images/bg_3.jpg} +');'"></div>
                    <div class="desc">
                      <h4>
                        <span class="text-left">Jacob Webb</span>
                        <span class="text-right">14 March 2018</span>
                      </h4>
                      <p class="star">
									   				<span>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
								   					</span>
                        <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                      </p>
                      <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                    </div>
                  </div>
                  <div class="review d-flex">
                    <div class="user-img" th:style="'background-image:url('+ @{/static2/images/bg_3.jpg} +');'"></div>
                    <div class="desc">
                      <h4>
                        <span class="text-left">Jacob Webb</span>
                        <span class="text-right">14 March 2018</span>
                      </h4>
                      <p class="star">
									   				<span>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
								   					</span>
                        <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                      </p>
                      <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="rating-wrap">
                    <h3 class="head">Give a Review</h3>
                    <div class="wrap">
                      <p class="star">
									   				<span>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					(98%)
								   					</span>
                        <span>20 Reviews</span>
                      </p>
                      <p class="star">
									   				<span>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					(85%)
								   					</span>
                        <span>10 Reviews</span>
                      </p>
                      <p class="star">
									   				<span>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					(70%)
								   					</span>
                        <span>5 Reviews</span>
                      </p>
                      <p class="star">
									   				<span>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					(10%)
								   					</span>
                        <span>0 Reviews</span>
                      </p>
                      <p class="star">
									   				<span>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					<i class="ion-ios-star"></i>
									   					(0%)
								   					</span>
                        <span>0 Reviews</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
        <span class="subheading">Choose Car</span>
        <h2 class="mb-2">Related Cars</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="car-wrap rounded ftco-animate">
          <div class="img rounded d-flex align-items-end" th:style="'background-image:url('+ @{/static2/images/bg_3.jpg} +');'">
          </div>
          <div class="text">
            <h2 class="mb-0"><a href="car-single.html">Mercedes Grand Sedan</a></h2>
            <div class="d-flex mb-3">
              <span class="cat">Cheverolet</span>
              <p class="price ml-auto">$500 <span>/day</span></p>
            </div>
            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a href="car-single.html" class="btn btn-secondary py-2 ml-1">Details</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="car-wrap rounded ftco-animate">
          <div class="img rounded d-flex align-items-end" th:style="'background-image:url('+ @{/static2/images/bg_1.jpg} +');'">
          </div>
          <div class="text">
            <h2 class="mb-0"><a href="car-single.html">Range Rover</a></h2>
            <div class="d-flex mb-3">
              <span class="cat">Subaru</span>
              <p class="price ml-auto">$500 <span>/day</span></p>
            </div>
            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a href="car-single.html" class="btn btn-secondary py-2 ml-1">Details</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="car-wrap rounded ftco-animate">
          <div class="img rounded d-flex align-items-end" th:style="'background-image:url('+ @{/static2/images/bg_3.jpg} +');'">
          </div>
          <div class="text">
            <h2 class="mb-0"><a href="car-single.html">Mercedes Grand Sedan</a></h2>
            <div class="d-flex mb-3">
              <span class="cat">Cheverolet</span>
              <p class="price ml-auto">$500 <span>/day</span></p>
            </div>
            <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a href="car-single.html" class="btn btn-secondary py-2 ml-1">Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Information</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">About</a></li>
            <li><a href="#" class="py-2 d-block">Services</a></li>
            <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
            <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
            <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Customer Support</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">FAQ</a></li>
            <li><a href="#" class="py-2 d-block">Payment Option</a></li>
            <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
            <li><a href="#" class="py-2 d-block">How it works</a></li>
            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>



<!-- loader -->



<script th:src="@{/static2/js/jquery.min.js}"></script>
<script th:src="@{/static2/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/static2/js/popper.min.js}"></script>
<script th:src="@{/static2/js/bootstrap.min.js}"></script>
<script th:src="@{/static2/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/static2/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/static2/js/jquery.stellar.min.js}"></script>
<script th:src="@{/static2/js/owl.carousel.min.js}"></script>
<script th:src="@{/static2/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/static2/js/aos.js}"></script>
<script th:src="@{/static2/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/static2/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/static2/js/jquery.timepicker.min.js}"></script>
<script th:src="@{/static2/js/scrollax.min.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script th:src="@{/static2/js/google-map.js}"></script>
<script th:src="@{/static2/js/main.js}"></script>

</body>
</html>