<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head::head">

</head>
<!-- body -->
<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img th:src="@{images/loading.gif}" alt="#" /></div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" th:fragment="navheader">
    <div class="container">
        <a class="navbar-brand" href="index.html">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li th:if="${page=='home'}" class="nav-item active"><a th:href="@{/}" class="nav-link">Home</a></li>
                <li th:unless="${page=='home'}" class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
                <li th:if="${page=='reservation'}" class="nav-item active"><a th:href="@{/reservation/review}" class="nav-link">Xe đã thuê</a></li>
                <li th:unless="${page=='reservation'}" class="nav-item"><a th:href="@{/reservation/review}" class="nav-link">Xe đã thuê</a></li>
                <li th:if="${page=='car'}" class="nav-item active"><a th:href="@{/car}" class="nav-link">Cars</a></li>
                <li th:unless="${page=='car'}" class="nav-item"><a th:href="@{/car}" class="nav-link">Cars</a></li>

                <li class="sign_btn" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="nav-link" style="color: black;" onMouseOver="this.style.color='#01d28e'" onMouseOut="this.style.color='black'">Đăng xuất</a></li>
                <li class="sign_btn" sec:authorize="!isAuthenticated()"><a th:href="@{/login}" class="nav-link" style="color: black;" onMouseOver="this.style.color='#01d28e'" onMouseOut="this.style.color='black'">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

<div class="hero-wrap ftco-degree-bg" th:style="'background-image:url('+ @{/static2/images/bg_1.jpg} +');'" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Fast &amp; Easy Way To Rent A Car</h1>
                    <p style="font-size: 18px;">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts</p>
                    <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-play"></span>
                        </div>
                        <div class="heading-title ml-5">
                            <span>Easy steps for renting a car</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div  class="car">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>VARIETY OF CARS </h2>
                    <span>Top xe được thuê nhiều nhất</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 padding_leri" th:each="car:${cars}">
                <div class="car_box">
                    <figure><img th:src="@{static2/images/{image}(image=${car.image})}" alt="#"/></figure>
                    <h3>[[${car.name}]]</h3>
                </div>
            </div>
    </div>
</div>
<!-- end car -->
<!-- bestCar -->
<div id="contact" class="bestCar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <form class="main_form" th:action="@{/search}" method="get">
                            <div class="titlepage">
                                <h2>Find A  Best Car For Rent</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-12" >
                                    <select name="brand">
                                        <option value="" selected disabled hidden>Hãng xe</option>
                                        <option>Lamborghini</option>
                                        <option>Mazda</option>
                                        <option>Mercedes-Benz</option>
                                        <option>Rolls Royce</option>
                                    </select>
                                </div>
                                <div class="col-md-12" >
                                    <select name="costSearch">
                                        <option value="0 9000000">Giá tiền</option>
                                        <option value="0 2000000">Dưới 2 triệu đồng</option>
                                        <option value="2000000 4000000">Từ 2 triệu đến 4 triệu đồng</option>
                                        <option value="4000000 5000000">Từ 4 triệu đến 5 triệu đồng</option>
                                        <option value="5000000 9000000">Trên 5 triệu đồng</option>
                                    </select>
                                </div>


                                <div class="col-md-12">
                                    <select name="type">
                                        <option value="" selected disabled hidden>Loại xe</option>
                                        <option value="2 chỗ">2 chỗ</option>
                                        <option value="4 đến 5 chỗ">4 đến 5 chỗ</option>
                                        <option value="7 chỗ">7 chỗ</option>
                                        <option value="Bán tải">Bán tải</option>
                                    </select>
                                </div>
                                <div class="col-sm-12" >
                                    <button class="find_btn">Find Now</button>
                                </div>
                            </div>
                        </form>
                        <form class="main_form" th:action="@{/search_name}" method="get">
                            <div class="titlepage">
                                <h2>Tìm theo tên xe</h2>
                            </div>
                            <div class="col-md-12" >

                                <label  style="font-size:20px;">Tên xe</label>

                                <input class="contactus" placeholder="Nhập tên xe" type="Search" name="name" id="search" required >
                                <div class="col-sm-12" >
                                    <button class="find_btn">Find Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end bestCar -->
<!-- choose  section -->
<div class="choose ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Why Choose Us</h2>
                    <span>It is a long established fact that a reader will be distracted by the readable content of a page when<br> looking at its layout. The point of using </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="choose_box">
                    <span>01</span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="choose_box">
                    <span>02</span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="choose_box">
                    <span>03</span>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end choose  section -->

<!--  footer -->
<footer th:replace="fragments/footer::footer">

</footer>
<!-- end footer -->
<!-- Javascript files-->

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
<script th:src="@{/js/plugin.js}"></script>
<!-- sidebar -->
<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js}"></script>
<script>

</script>

</body>
</html>

